.city-card,
.benchmark {
  border: 2px solid #fdfdff;
  padding: 10px;
  width: 90%;
  margin: 5px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.group-ctrl {
  border: none;
  padding: 5px;
}

.group-ctrl label,
.group-ctrl input {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.group-ctrl label {
  margin: 0 auto;
  text-align: left;
  min-width: 50%;
  display: inline-block;
}

.group-ctrl input {
  margin-right: 0px;
  text-align: right;
  padding-right: 10px;
  width: 310px;
  float: right;
}

.group-ctrl input:disabled {
  background-color: #ccc;
  color: #555;
}

.btn {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #46b3f1;
  border: solid 2px #182731;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.benchmark {
  background-color: #46b3f1;
  /* width: 90%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.benchmark-group {
  color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.benchmark-group p {
  font-weight: bolder;
  font-size: 1.2em;
  justify-self: left;
  padding-left: 10px;
}
.benchmark-group h3 {
  justify-self: right;
}
