.account-app {
  margin: 0 auto;
  border: solid 2px #fdfdff;
}

.account-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.account-card {
  width: auto;
  border: solid 1px #fdfdff;
  padding: 20px;
  contain: content;
}

.account-card span {
  margin-left: 100px;
  text-align: right;
  color: red;
}

.ctrl-group h3 {
  font-size: 1.3em;
  text-align: left;
}

.ctrl-group .ctrl-header {
  display: inline-block;
  width: auto;
}

.ctrl-group input[type="text"] {
  min-width: 50%;
}

.ctrl-group label,
.ctrl-group input,
.ctrl-group button {
  font-weight: bold;
  font-size: 1.3em;
  margin: 5px;
  text-align: right;
  border-radius: 4px;
  padding: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.ctrl-group button,
.ctrl-group input[type="submit"],
.ctrl-group input[type="button"] {
  background-color: #2b77aa;
  min-width: 50%;
  width: 80%;
  line-height: 1.5em;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ctrl-group button:hover,
.ctrl-group input[type="submit"]:hover {
  background-color: #32a0e9;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
}
