html,
body {
  background-color: #282c34;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #f2cc8f;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: 2px underline #e07a5f solid;
}


header,
main,
footer {
  width: 960px;
  margin: 10px auto;
  background-color: #c44536;
  color:#f2cc8f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}

footer li {
  text-align: left;
}

footer a i {
  margin-right: 10px;
}

.container {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.grid {
  display: grid;
  justify-items: center;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start space-around;
  min-height: 10vh;
}

.App-header div {
  margin: 5px 20px;
}

/* App Icons and logos */
.App-logo {
  min-height: 40vmin;
  height: 60vmin;
  pointer-events: none;
  width: 600px;
  padding: 0;
  margin: auto;
  color: #fff;
  -webkit-mask: url(../../react-02/src/images/logo.svg) no-repeat center;
  mask: url(../../react-02/src/images/logo.svg) no-repeat center;
  z-index: 99;
}

.svg-link-icon {
  margin: 0 auto;
  background-color: red;
  width: 100px;
  height: 100px;
}

.home-icon {
  transform: scale(2);
  -webkit-mask: url(../../react-02/src/images/Leonardo-da-Vinci.svg) no-repeat center;
  mask: url(../../react-02/src/images/Leonardo-da-Vinci.svg) no-repeat center;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}

.game-icon {
  -webkit-mask: url(../../react-02/src/images/tic-tac-toe.svg) no-repeat center;
  mask: url(../../react-02/src/images/tic-tac-toe.svg) no-repeat center;
}

.bank-icon {
  -webkit-mask: url(../../react-02/src/images/piggy-bank.svg) no-repeat center;
  mask: url(../../react-02/src/images/piggy-bank.svg) no-repeat center;
}

.city-icon {
  -webkit-mask: url(../../react-02/src/images/city-symbol.svg) no-repeat center;
  mask: url(../../react-02/src/images/city-symbol.svg) no-repeat center;
}

.doubleLinkedList-icon {
  transform: scale(1.5);
  -webkit-mask: url(../../react-02/src/images/linked-list.svg) no-repeat center;
  mask: url(../../react-02/src/images/linked-list.svg) no-repeat center;
}

.queue-stack-icon {
  transform: scale(1.7);
  -webkit-mask: url(../../react-02/src/images/queue-stack.svg) no-repeat center;
  mask: url(../../react-02/src/images/queue-stack.svg) no-repeat center;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}

.github-icon {
  -webkit-mask: url(../../react-02/src/images/git-logo.svg) no-repeat center;
  mask: url(../../react-02/src/images/git-logo.svg) no-repeat center;
}

.icon {
  width: 100px;
  height: 100px;
}

#messageBox {
  height: 2em;
  line-height: 2em;
  font-size: 1.5em;
}

.svg-link.icon:hover {
  fill: #777;
  stroke: #fdfdff;
  stroke-width: 6px;
}

.svg-link {
  text-decoration: none;
}

.box {
  padding: 5px;
}

.box:hover {
  border: 1px solid #000;
  background-color: #2f798d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box:hover .svg-link #community {
  fill: #000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-clock-spin infinite 20s linear;
    -webkit-animation: App-logo-clock-spin infinite 20s linear;
  }

  .counter-clockwise {
    animation: App-logo-counter-spin infinite 10s linear;
    -webkit-animation: App-logo-counter-spin infinite 10s linear;
  }

  .clockwise {
    animation: App-logo-clock-spin infinite 10s linear;
    -webkit-animation: App-logo-clock-spin infinite 10s linear;
  }
}


@keyframes App-logo-clock-spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes App-logo-counter-spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}

@keyframes Play-Game {
  10% {
    fill: white;
  }

  90% {
    fill: transparent;
  }
}

@keyframes Tick-Tac-Toe {}

.city-card,
.benchmark {
  border: 2px solid #fdfdff;
  padding: 10px;
  width: 90%;
  margin: 5px auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.theme-picker {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.theme-picker .theme {
  width: 25px;
  height: 25px;
  border: #fdfeff 2px solid;
}

.theme-picker .theme.red {
  background-color: red;
}

.theme-picker .theme.blue {
  background-color: blue;
}

.theme-picker .theme.high-contrast {
  background-color: yellow;
}

.btn {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #f4f1de;
  border: solid 2px #182731;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 2em;
  min-width: 200px;
  max-width: 500px;
  margin: 5px auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.new-item,
.delete-item {
  background-color: red;
}

.data-item {
  border: solid #fdfdff 2px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.data-item div h3,
.data-item div h2,
.data-item div p,
.data-item div p span {
  display: inline-block;
  margin-right: 10px;
  margin: 2px;
}

.data-item .prev,
.data-item .next {
  width: 100%;
  margin: auto;
}

.data-item .prev {
  justify-self: start;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.data-item .next {
  justify-self: end;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.data-item div p {
  font-weight: bold;
  font-size: 1.2em;
}

.benchmark {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.benchmark-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.benchmark-group p {
  font-weight: bolder;
  font-size: 1.2em;
  justify-self: left;
  padding-left: 10px;
}

.benchmark-group h3 {
  justify-self: right;
}

.list {
  width: 100%;
  margin: 0 auto;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4px;
}

.game {
  display: flex;
  flex-direction: row;
  width: 600px;
}

.game-board>div {
  display: inline;
  margin: 0 auto;
}

.game-info {
  width: 100%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 36px;
  font-weight: bold;
  line-height: 34px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.move-list-item {
  padding: 0;
  margin: 0;
}

.btn-move {
  font-size: 1em;
  margin: 2px;
  padding: 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.node-form {
  width: 100%;
  margin: 0 auto;
}

.input-box {
  margin: 3px auto;
  display: grid;
  min-width: 300px;
  max-width: 600px;
  grid-template-columns: 30% 70%;
  border: 0.025em #fdfdff solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 2px;
}

.input-box label {
  text-transform: capitalize;
  min-width: 250px;
  line-height: 2em;
  font-size: 1.1em;
  font-weight: bold;
  justify-self: center;
}

.input-box input {
  margin-left: 5px;
  text-align: right;
  padding: 2px 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="number"] {
  line-height: 2em;
  font-size: 1.1em;
  font-weight: bold;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"]:disabled {
  color: #555;
  background-color: #ccc;
}

.node-nav {
  width: 100%;
  line-height: 3em;
  font-size: 1.3em;
  margin: 0 auto;
  border: solid 1px #fdfdff;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr;
}

.node-nav .btn,
.node-nav .delete-btn,
.node-nav .prev-btn,
.node-nav .next-btn {
  font-size: 1.3em;
  line-height: 2em;
  border: #393d3f 3px solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.node-nav .delete {
  padding: 5px 20px;
  margin: 10px auto;
}

/* .node-nav button:disabled,
.node-nav button:disabled {
  background-color: #393d3f;
} */

.node-nav p {
  margin: 5px auto;
}

.node,
.current {
  border: solid 1px #fdfdff;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
}

.node div {
  line-height: 2em;
  font-size: 1.2em;
  border: solid 1px #fdfdff;
  background-color: #393d3f;
}

.node div:first-child {
  background-color: #62929e;
}

.node div:last-child {
  background-color: #546a7b;
}

.current div {
  line-height: 2em;
  font-size: 1.2em;
  border: solid 1px #fdfdff;
  color: #fdfdff;
}

.current div:first-child,
.current div:last-child {
  background-color: #c6c5b9;
  color: #393d3f;
}

footer div {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px #fdfdff solid;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

footer ul {
  list-style: none;
}

footer div {
  border: none;
}