html,
body {
  background-color: #282c34;
}

.App,
.main {
  text-align: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  width: 600px;
  padding: 0;
  margin: 0 auto;
  background-color: red;
  -webkit-mask: url(../src/images/logo.svg) no-repeat center;
  mask: url(../src/images/logo.svg) no-repeat center;
}

.svg-link-icon {
  background-color: red;
  width: 100px;
  height: 100px;
}
.home-icon {
  width: 100%;
  -webkit-mask: url(../../react-02/src/images/logo.svg) no-repeat center;
  mask: url(../../react-02/src/images/logo.svg) no-repeat center;
}
.game-icon {
  -webkit-mask: url(../../react-02/src/images/tic-tac-toe.svg) no-repeat center;
  mask: url(../../react-02/src/images/tic-tac-toe.svg) no-repeat center;
}
.bank-icon {
  -webkit-mask: url(../../react-02/src/images/piggy-bank.svg) no-repeat center;
  mask: url(../../react-02/src/images/piggy-bank.svg) no-repeat center;
}
.city-icon {
  -webkit-mask: url(../../react-02/src/images/city-symbol.svg) no-repeat center;
  mask: url(../../react-02/src/images/city-symbol.svg) no-repeat center;
}
.doubleLinkedList-icon {
  -webkit-mask: url(../../react-02/src/images/linked-list.svg) no-repeat center;
  mask: url(../../react-02/src/images/linked-list.svg) no-repeat center;
}
.github-icon {
  -webkit-mask: url(../../react-02/src/images/git-logo.svg) no-repeat center;
  mask: url(../../react-02/src/images/git-logo.svg) no-repeat center;
}
.grid-container {
  margin: 0 auto;
  width: 960px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.icon {
  width: 100px;
  height: 100px;
}

#messageBox {
  height: 2em;
  line-height: 2em;
  font-size: 1.5em;
}

.svg-link.icon:hover {
  fill: #777;
  stroke: #fdfdff;
  stroke-width: 6px;
}

.svg-link {
  text-decoration: none;
}

.box {
  padding: 5px;
}

.box:hover {
  border: 1px solid #000;
  background-color: #2f798d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box:hover .svg-link #mapleLeaf {
  fill: #000;
  stroke: #881400;
  stroke-width: 20px;
}

.box:hover .svg-link #community {
  fill: #000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-clock-spin infinite 20s linear;
    -webkit-animation: App-logo-clock-spin infinite 20s linear;
  }

  .counter-clockwise {
    animation: App-logo-counter-spin infinite 10s linear;
    -webkit-animation: App-logo-counter-spin infinite 10s linear;
  }

  .clockwise {
    animation: App-logo-clock-spin infinite 10s linear;
    -webkit-animation: App-logo-clock-spin infinite 10s linear;
  }
  .svg-icon {
    fill: #fff;
    stroke: #fff;
  }
}

.App-header,
main {
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* font-size: calc(10px + 2vmin); */
}

.App-header {
  min-height: 10vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-clock-spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes App-logo-counter-spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}

@keyframes Play-Game {
  10% {
    fill: white;
  }

  90% {
    fill: transparent;
  }
}

@keyframes Tick-Tac-Toe {
}
