.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.btn{
  font-size: 1em;
  line-height: 1.2em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btn-primary{
  border:solid 2px #118fb3;
  background-color: #2cb3d8;
}
.btn-primary:hover{
  border:solid 2px #2cb3d8;
  background-color: #118fb3;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
