body {
    color: #363636;
    font-size: 18px;
}

/* unvisited link */

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.center {
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.3em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.7em;
}

h6 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

.btn {
    color: #fff;
    font-size: 1.3em;
    ;
    background-color: #21618b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 150px;
    margin: 5px;
    padding: 10px;
}

.btn:hover {
    color: #21618b;
    background-color: #aacfe7;
    border: solid 2px #21618b;
}

.sticky-bottom {
    position: absolute;
    bottom: 10px;
}

div a img.menu-img {
    color: red;
}

img.menu-img {
    height: 25px;
    padding-top: 5px;
}

span.evolve-text {
    font-family: Arial, Helvetica, sans-serif;
}

.evolve-text.evolve-text {
    font-weight: 900;
}

.evolve-text.evolve-text-u {
    font-weight: 100;
    font-size: 1.3em;
}

/* navbar */

ul#main-nav {
    background-color: #363636;
    padding-left: 20px;
    height: 2.5em;
    line-height: 2em;
}

ul#main-nav a {
    color: rgb(243, 241, 241);
    font-size: 1.5em;
}

ul#main-nav li {
    display: inline-block;
    text-align: center;
    width: 200px;
}

ul#main-nav li:hover {
    background-color: #505050;
}

/* Basic dom */

#dom-container {
    min-height: 600px;
    position: relative;
}

.dom-container p {
    font-size: 1.3em;
}

.dom-header {
    background-image: url(./images/rusty-bg.jpg);
}

.dom-header-text {
    margin: 12px auto;
    letter-spacing: -5px;
    position: relative;
    padding: 5px;
    border: solid 1px #000;
    background-color: #831b1b;
    display: inline-block;
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
}

.letter {
    font-size: 2.5em;
    display: inline-block;
    border: solid #fff 5px;
    padding: 7px;
    -webkit-text-stroke: 1px black;
    margin-left: 2px;
    margin-right: 2px;
    color: #fff;
    background-color: #831b1b;
}

#dom-header #B {}

#a {}

#s {}

#i {}

#c {}

#D {}

#O {}

#M {}

.dom-body {
    position: relative;
    background-color: red;
    height: 100%;
    min-height: 100%;
}

.dom-body::after {
    content: "";
    clear: both;
    display: table;
}

ol.numbered-list {
    position: absolute;
    display: inline-block;
    left: 35%;
    top: 5px;
    list-style-type: decimal;
    padding-left: 20px;
    width: 400px;
    font-size: 1.4em
}

.border-2 {
    border: solid 2px;
}