.board-row:after {
    clear: both;
    content: "";
    display: table;
}
.status {
    margin-bottom: 10px;
}
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 34px;
    height: 90px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 90px;
}
.square:focus {
    outline: none;
}
.kbd-navigation .square:focus {
    background: #ddd;
}
.game {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 600px;
}
.game-board {
    margin: 10px auto;
    width: 300px
}
.game-info {
    margin-left: 20px;
    width: 300px;
}