html, body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #444;
    padding: 0;
    margin: 0;
    ;
}

section {
    margin: 0;
    background-color: #c6f2ff;
    height: 100vh;
    padding: 10px;
}

h1 {
    font-size: 3em;
}

section h1 {
    text-align: center;
}

h2 {
    font-size: 2.7em;
    font-weight: bolder;
    margin-bottom: 10px;
}

h3 {
    font-size: 2.3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

#banking-app {
    /* height: 100vh; */
    background-color: #eee;
    margin: 20px;
}

#banking-app>.container {
    height: 900px;
    contain: content;
}

.col {
    height: 880px;
    margin-bottom: 20px;
}

#account-list-header {
    display: inline-block;
    width: 90%;
}

#sorting {
    position: relative;
    top: 20px;
    justify-self: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    display: inline-block;
    width: 20px;
    height: 50px;
    border: solid 4px #444;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-right: 30px;
}

#sorting hr {
    position: relative;
    top: -15px;
    border: solid 2px #444;
    margin: 0;
    padding: 0;
}

.fas {
    font-size: 2.5em;
}

.btnClose {
    position: absolute;
    top: 2px;
    right: 10px;
}

a#btnAscending, a#btnDescending {
    position: relative;
    left: -2px;
}

a#btnAscending {
    top: 0;
}

a#btnDescending {
    bottom: 0;
    top: -30px;
}

.fa-sort-up, .fa-sort-down {
    position: relative;
    height: 16px;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    position: relative;
}

.control {
    width: 95%;
    margin: 0 auto;
    display: block;
    line-height: 2em;
    overflow: contain;
}

label.control {
    font-weight: bold;
    font-size: 2em;
}

input[type="text"].control {
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    padding-right: 20px;
}

.border-5 {
    border: 5px solid #444;
}

.border-bottom {
    border: none;
    border-bottom: solid 1px #444;
}

.account-name {
    color: #444;
    font-size: 2.3em;
    width: 100%;
    font-weight: bolder;
    margin-bottom: 10px;
    background-color: transparent;
}

.rounded-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

#accountList {
    position: relative;
    height: 85%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.cf:after {
    content: '';
    /* 1 */
    display: block;
    /* 2 */
    clear: both;
}

.control-group {
    position: relative;
    width: auto;
    overflow: contain;
    padding: 5px;
    margin: 0 auto;
    min-height: 100px;
}

#account-manager {
    height: 350px
}

#transactions {
    height: 250px;
}

.container input[type="button"] {
    position: absolute;
    bottom: 10px;
    width: 200px;
    background-color: rgb(190, 190, 190);
    border: solid 5px #444;
    color: #444;
    font-weight: bold;
    font-size: 2em;
    margin-top: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.container input[type="button"]:active, .container input[type="button"]:hover {
    background-color: #585858;
    border: solid 5px #333;
    color: #eee;
}

.container input#btnAccountTransaction {
    right: 10px;
}

.container input[value="Deposit"] {
    left: 10px;
}

.container input[value="Withdrawal"] {
    right: 10px;
}

.card {
    position: relative;
    display: block;
    background-color: #c2f3fa;
    border-radius: 10px;
    width: 90%;
    height: 130px;
    padding: 20px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.card.active {
    border: solid 5px #333;
    background-color: #f8f8cd;
}

.card h3, .card p {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    position: absolute;
    display: inline;
    font-size: 2em;
    bottom: 15px;
    color: red;
}

.card h3 {
    left: 10px;
}

.card p {
    right: 20px;
}